*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#070b1a;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#10172b;
border-bottom:2px solid cyan;
}

.logo{
font-size:28px;
font-weight:bold;
color:#00e5ff;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-size:18px;
transition:.3s;
}

nav a:hover{
color:#00e5ff;
}

.hero{
text-align:center;
padding:80px 20px;
}

.hero h1{
font-size:50px;
color:#00e5ff;
margin-bottom:20px;
}

.hero p{
font-size:22px;
max-width:700px;
margin:auto;
line-height:1.6;
color:#d6d6d6;
}

.buttons{
margin-top:40px;
}

button{
padding:15px 35px;
margin:10px;
font-size:18px;
border:none;
border-radius:10px;
background:#00e5ff;
color:black;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.08);
background:white;
}

.features{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
padding:50px;
}

.card{
background:#11192d;
padding:25px;
border-radius:15px;
border:1px solid #00e5ff;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 0 20px cyan;
}

.card h2{
margin-bottom:15px;
color:#00e5ff;
}

footer{
text-align:center;
padding:20px;
background:#10172b;
margin-top:40px;
color:#ccc;
}

.search-box{
width:90%;
max-width:450px;
padding:15px;
font-size:18px;
border:none;
border-radius:10px;
outline:none;
margin-top:20px;
}
